h1 {font-family: "Arial";
    margin-bottom: 5px;}

h2 {margin: 5px;
    text-align: center;}

.customers {display: flex;
flex-wrap: wrap;
justify-content: space-around;
font-family: "Arial";
font-size: 14px;
text-align: center;
}

img {
border-radius: 50px;
margin-top: 30px;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}

.customer-email {color: #7c7878;
text-align: center;
font-size: 14px;}

.customerdiv {margin-top: 35px;
    text-align: center;
    flex: 1 0 35%;
    
}